.navbar .login-btn {
  text-align: bottom;
  padding-bottom: 5px;
  float: left;
}
@media (max-width: 992px) {
  .navbar .login-btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;

  }
}

.navbar-nav .logout-btn {
  text-align: bottom;
  padding-bottom: 5px;
  float: right;
  flex-direction: column;
}
@media (max-width: 992px) {
  .navbar-nav .logout-btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    position:relative;
    flex-direction: column;
  }
}


.nav {
  color: #fff !important;
}
.navbar {
  margin-left: 5px;
  width:100%;
}

.navbar-link {
  font-size: x-large;
  text-align: bottom;
  padding-bottom: 5px;
}
.navbar-brand {
  padding-bottom: 20px;
}
.navbar-nav {
  width: 100%;
  padding-left: 10px;
}
.navbar-collapse {
  width: 100%;
}
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
  align-content: space-around;
}
img {
  vertical-align: none;
}
.image-area {
  border: 2px dashed rgba(255, 255, 255, 0.7);
  padding: 1rem;
  position: relative;
}
.text-muted {
  color: white;
}

.btn {
  color: rgb(255, 255, 255);
  background-color: #4c7546;
  border-color: #000000;
}
.btn:hover {
  background-color: #417c50; /* Green */
  border-color: #ffffff;
  color: rgb(255, 255, 255);
}

.image-area::before {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.image-area img {
  z-index: 2;
  position: relative;
}


body {
  background-color: #0e6e4e;
  background-image: linear-gradient(147deg, #4c7546 40%, #056926 100%);
}

h1, h4, h5, h6 {
  color: #000000;
}
h2 {
  color: white;
}
h3 {
  color:rgb(20, 88, 20);
}
ul {
  margin: 0px;
  margin-top: 10px;
  overflow: hidden;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
.img-comp-container {
  position: relative;
  height: 350px; /*should be the same height as the images*/

}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
  width: 500px;
  height: 350px;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #0e6e4e;
  opacity: 0.7;
  border-radius: 50%;
  top: 0;
  left: 0;
}

.comment {
  margin: 20px 20px 0px 20px;
  border-style: outset;
  border-color: rgb(255, 255, 255);
}

.row {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}


.main-timeline{
  font-family: 'Roboto', sans-serif;
  padding: 20px 0;
  position: relative;
}
.main-timeline:before,
.main-timeline:after{
  content: '';
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 10px solid green;
  transform:translateX(-50%);
  position: absolute;
  left: 50%;
  top: -15px;
  z-index: 2;
}
.main-timeline:after{
  top: auto;
  bottom:15px;
}
.main-timeline .timeline{
  padding: 35px 0;
  margin-top: -30px;
  position: relative;
  z-index: 1;
}
.main-timeline .timeline:before,
.main-timeline .timeline:after{
  content: '';
  height: 100%;
  width: 50%;
  border-radius: 100px 0 0 100px;
  border: 15px solid green;
  border-right: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.main-timeline .timeline:after{
  height: calc(100% - 30px);
  width: calc(50% - 12px);
  border-color:#8CC63E; 
  left: 12px;
  top: 15px;
}
.main-timeline .timeline-content{ display:inline-block; }
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-year{
  color:rgb(20, 88, 20); 
  font-size: 50px;
  font-weight: 600;
  display: inline-block;
  transform:translateY(-50%);
  position: absolute;
  top: 50%;
  left: 10%;
}
.main-timeline .timeline-icon{
  color:rgb(20, 88, 20);
  font-size: 80px;
  display: inline-block;
  transform: translateY(-50%);
  position: absolute;
  left: 34%;
  top: 50%;
}
.main-timeline .content{
  color: #909090;
  width: 50%;
  padding: 20px;
  display: inline-block;
  float: right;
}
.main-timeline .title{
  color:rgb(20, 88, 20);
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 5px 0;
}
.main-timeline .description{
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0;
}
.main-timeline .timeline:nth-child(even):before{
  left: auto;
  right: 0;
  border-radius: 0 100px 100px 0;
  border: 15px solid rgb(19, 12, 12);
  border-left: none;
}
.main-timeline .timeline:nth-child(even):after{
  left: auto;
  right: 12px;
  border: 15px solid green;
  border-left: none;
  border-radius: 0 100px 100px 0;
}
.main-timeline .timeline:nth-child(even) .content{ float: left; }
.main-timeline .timeline:nth-child(even) .timeline-year{
  left: auto;
  right: 10%;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
  left: auto;
  right: 32%;
}
.main-timeline .timeline:nth-child(5n+2):before{ border-color: #8CC63E; }
.main-timeline .timeline:nth-child(5n+2):after{ border-color: green; }
.main-timeline .timeline:nth-child(5n+2) .timeline-icon{ color: #8CC63E; }
.main-timeline .timeline:nth-child(5n+2) .timeline-year{ color: #8CC63E; }
.main-timeline .timeline:nth-child(5n+2) .title{ color: #8CC63E; }

.main-timeline .timeline:nth-child(5n+3):before{ border-color: green; }
.main-timeline .timeline:nth-child(5n+3):after{ border-color: #8CC63E; }
.main-timeline .timeline:nth-child(5n+3) .timeline-icon{ color: rgb(20, 88, 20); }
.main-timeline .timeline:nth-child(5n+3) .timeline-year{ color: rgb(20, 88, 20); }
.main-timeline .timeline:nth-child(5n+3) .title{ color: rgb(20, 88, 20); }

.main-timeline .timeline:nth-child(5n+4):before{ border-color: #8CC63E; }
.main-timeline .timeline:nth-child(5n+4):after{ border-color: green;}
.main-timeline .timeline:nth-child(5n+4) .timeline-icon{ color: #8CC63E; }
.main-timeline .timeline:nth-child(5n+4) .timeline-year{ color: #8CC63E; }
.main-timeline .timeline:nth-child(5n+4) .title{ color: #8CC63E; }

.main-timeline .timeline:nth-child(5n+5):before{ border-color:green; }
.main-timeline .timeline:nth-child(5n+5):after{ border-color:#8CC63E; }
.main-timeline .timeline:nth-child(5n+5) .timeline-icon{ color:rgb(20, 88, 20); }
.main-timeline .timeline:nth-child(5n+5) .timeline-year{ color:rgb(20, 88, 20); }
.main-timeline .timeline:nth-child(5n+5) .title{ color:rgb(20, 88, 20); }

@media screen and (max-width:1200px){
  .main-timeline .timeline:after{ border-radius: 88px 0 0 88px; }
  .main-timeline .timeline:nth-child(even):after{ border-radius: 0 88px 88px 0; }
}
@media screen and (max-width:767px){
  .main-timeline .timeline{ margin-top: -19px; }
  .main-timeline .timeline:before {
      border-radius: 50px 0 0 50px;
      border-width: 10px;
  }
  .main-timeline .timeline:after {
      height: calc(100% - 18px);
      width: calc(50% - 9px);
      border-radius: 43px 0 0 43px;
      border-width:10px;
      top: 9px;
      left: 9px;
  }
  .main-timeline .timeline:nth-child(even):before {
      border-radius: 0 50px 50px 0;
      border-width: 10px;
  }
  .main-timeline .timeline:nth-child(even):after {
      height: calc(100% - 18px);
      width: calc(50% - 9px);
      border-radius: 0 43px 43px 0;
      border-width: 10px;
      top: 9px;
      right: 9px;
  }
  .main-timeline .timeline-icon{ font-size: 60px; }
  .main-timeline .timeline-year{ font-size: 40px; }
}
@media screen and (max-width:479px){
  .main-timeline .timeline-icon{
      font-size: 50px;
      transform:translateY(0);
      top: 25%;
      left: 10%;
  }
  .main-timeline .timeline-year{
      font-size: 25px;
      transform:translateY(0);
      top: 65%;
      left: 9%;
  }
  .main-timeline .content{
      width: 68%;
      padding: 10px;
  }
  .main-timeline .title{ font-size: 18px; }
  .main-timeline .timeline:nth-child(even) .timeline-icon{
      right: 10%;
  }
  .main-timeline .timeline:nth-child(even) .timeline-year{
      right: 9%;
  }
}